.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #4d1601;
    color: white;
    padding: 0.75rem 3rem;
    border-radius: 25px;
    font-weight: bold;
  }

  .button.logoutButton {
    cursor: pointer;
    align-items: right;
    font: inherit;
    border: none;
    background-color: #642208;
    color: white;
    padding: 0.75rem 3rem;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 600px;
  }

  .button:hover,
  .button:active {
    background-color: #2c0d00;
  }

  